<p><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head></p>

<h2>吴桂林</h2>

<table>
<tr>
<td><p><font color="#999999">kenwell.ustc@gmail.com&nbsp&nbsp&nbsp&nbsp</font></p>
</td>
<td><p><font color="#999999">http://kenwell.org</font></p>
</td>
</tr>
</table>

<hr />

<h3><p><font color="#999999">总结</font></p></h3>

<ul>
<li>有三年Linux环境下的C++、C和网络编程经验。</li>
<li>作为项目经理，成功负责过多个项目的开发。</li>
<li>热爱互联网行业，研究生时曾搭建过网站，成功从google赚取广告费。喜爱苹果的产品，希望自己开发的产品能够被大众喜欢。</li>
<li>工作、娱乐环境为Linux，常用编辑工具Vim。</li>
<li>适应环境快，学习能力强。</li>
</ul>

<hr />

<h3><p><font color="#999999">工作经验</font></p></h3>

<p><strong>深圳证券通信有限公司 - 高级软件工程师</strong></p>

<p><em>2009.03- 现在</em></p>

<ul>
<li>参与深交所新一代交易通信系统开发，主要负责高性能、低延迟通信架构设计；开发环境:Linux,开发语言:C++；研究常用的几种网络通信模型:Reactor、Proactor和Leader/Follower等模式；使用Boost Asio库作为通信系统基础组件，提高通信系统的性能和延迟。</li>
<li>开发和维护深交所前端通信系统,开发语言:C；熟悉深交所前端通信系统架构,作为项目经理，多次成功负责完成前端通信系统改造。</li>
<li>使用Hudson、STAF和Python搭建部门持续集成和自动化测试平台，使用ReviewBoad搭建部门代码Review平台，提高了部门的工作效率。</li>
<li>使用Python和Shell编写各种测试脚本。</li>
<li>测试各种高性能消息中间件（IBM的LLM、Tervela）和网络组件（Zeromq，Libevent)，研究Hadoop和Zookeeper等分布式开源系统, 计划以Zookeeper为基础搭建高性能、低延迟消息中间件。</li>
</ul>

<p><strong>Intel亚太研发中心 - 实习生</strong></p>

<p><em>2007.06-2008.10</em></p>

<ul>
<li>参与P2P软件开发和测试，开发语言Java,使用SWT编写P2P软件Windows和Linux下的主界面。</li>
<li>编写P2P软件的后台算法。</li>
<li>荣获Intel优秀实习生。</li>
</ul>

<hr />

<h3><p><font color="#999999">教育背景</font></p></h3>

<p><strong>上海交通学大学</strong>
硕士，计算机系,
2006-2009</p>

<p><strong>中国科学技术大学</strong>
本科，软件工程,
2002-2006</p>

<hr />

<h3><p><font color="#999999">技能</font></p></h3>

<ul>
<li>C++、C、Shell、Python</li>
<li>Linux、Vim</li>
<li>Network、Svn、Git</li>
</ul>

<h4><p><font color="#999999">语言能力</font></p></h4>

<p>英语国家六级</p>
