<html>
  <head>
    <meta charset="utf-8">
    <title>kenwell's Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="kenwell">

    <!-- Le styles -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kenwell's Page</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="./">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="#about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>介绍!</h1>
        <p>本网站是kenwell的个人主页。</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>IT相关</h2>
          <p><a class="btn" href="http://cn.linkedin.com/in/kenwell">LinkedIn &raquo;</a></p>
          <p><a class="btn" href="http://github.com/kenwell">GitHub &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>书籍</h2>
       </div>
        <div class="span4">
          <h2>Sina微博</h2>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; kenwell.org 2012，本站使用web.py和bootstrap开发</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
