<html>
  <head>
    <meta charset="utf-8">
    <title>kenwell's Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="kenwell">

    <!-- Le styles -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kenwell's Page</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="./">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="#about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>介绍!</h2>
        <p>初级码农和金融IT从业者，捣腾过很多技术，目前关注网络编程、高性能消息中间件、ZookKeeper和Hadoop.常用的编辑器是Vim</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>IT相关站点</h2>
          <p><a class="btn" href="http://cn.linkedin.com/in/kenwell">LinkedIn &raquo;</a></p>
          <p><a class="btn" href="http://github.com/kenwell">GitHub &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>喜欢的书籍</h2>
          <script type="text/javascript" src="http://www.douban.com/service/badge/2100403/?show=collection&amp;n=8&amp;columns=2&amp;hidelogo=yes&amp;hideself=yes" ></script>

       </div>
        <div class="span4">
          <h2>我正在</h2>
          <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1705882220&verifier=b5d94de5&dpc=1">
          </iframe>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; kenwell.org 2012，本站使用web.py和bootstrap开发</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
